bucket         = "replace-with-platform-terraform-state-bucket"
key            = "cloud-platform-engineering/dev/terraform.tfstate"
region         = "us-east-1"
encrypt        = true
dynamodb_table = "replace-with-terraform-lock-table"
